<h1>Add new product</h1>

{{  form_start(({{ form_name }})) }}
        {{  form_widget({{ form_name }}) }}

<button type="submit" class="btn btn-primary">{{button}}</button>
{{  form_end(({{ form_name }})) }}